registry=https://registry.npmmirror.com
sass_binary_site=https://cdn.npmmirror.com/binaries/node-sass
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
chromedriver_cdnurl=https://cdn.npmmirror.com/binaries/chromedriver
phantomjs_cdnurl=https://cdn.npmmirror.com/binaries/phantomjs/
puppeteer_download_host=https://cdn.npmmirror.com/binaries
sharp_binary_host=https://cdn.npmmirror.com/binaries/sharp
python_mirror=https://cdn.npmmirror.com/binaries/python/
disturl=https://cdn.npmmirror.com/binaries/node/
